/* C:\projets\java\edt-generator\frontend\src\app\components\classe-form\classe-form.component.scss */
.card {
  border-radius: 10px;
  overflow: hidden;
  
  .card-header {
    border-bottom: none;
  }
}

.form-control, .form-select {
  border-radius: 6px;
}

.invalid-feedback {
  display: block;
}

.btn {
  border-radius: 6px;
}